<ng-template #error_msg>
  <h1 translate>Translate.ConfigureFirst</h1>
  <a translate [routerLink]="['settings']">Translate.ToSettings</a>
</ng-template>

<ng-template #loading_spinner *ngIf="loading">
  <div class="loading-shade">
    <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
  </div>
</ng-template>

<ng-template #show_Skip>
  <h1 translate>Translate.UserBlock</h1>
  <button translate color="primary" (click)="skipUser(true)" type="button" name="yes" class="themed-button">Translate.Yes</button>&nbsp;
  <button translate color="primary" (click)="skipUser(false)" type="button" name="no" class="themed-button">Translate.No</button>
</ng-template>

<div *ngIf="!loadingSettings; else error_msg">
  <div *ngIf="!showSkip; else show_Skip">
    <section>
      <mat-form-field>
        <mat-label>{{ 'Translate.EnterBarcode' | translate }}</mat-label>
        <input translate matInput [(ngModel)]="barcode" (keyup)="handleKeyUp($event)"/>
      </mat-form-field>
      <br/>
      <button translate color="primary" (click)="getInterestUser(barcode)" [disabled]="loading" type="button" name="button" class="themed-button">Translate.Loan</button>
    </section>
    <div *ngIf ="loading">
    <div class="loading-shade">
      <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
    </div>
  </div>
  </div>
</div>
